#root .double-input{
	width: 48%;
	text-align: left;
}

#root .single-input{
	width: 100%;
	display: inline-block;
	text-align: left;
}

#root .line{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

#root .img-container{
	width: 100%;
	height: 57px;
	background-color: #000;	
	border: 3px solid #ccc;
	border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

#root .img-input{
    display: none;
}

#root .form-btn{
	margin-top: 20px;
	width: 400px;
	height: 61px;
	background-color: #000;
	border: 3px solid #ccc;
	border-radius: 5px;
	color: #fff;
	transition: 0.5s;
	font-family: "Monteserrat";
	font-size: 20px;
	font-weight: 800;
}

#root .form-btn:hover{
  	background-color: #fff;
  	border-color: #3536ff;
  	color: #3536ff;
  	cursor: pointer;
}

/*.form-btn:focus{
	background-color: #fff;
	border-color: #3536ff;
	color: #3536ff;
	outline: none;
}*/

#root .single-form{
	max-width: 600px !important;
}

@media screen and (max-width: 700px) {
	#root .form-btn{
		max-width: 250px;
		font-size: 20px;
	}

	#root .img-container{
		font-size: 12px;
	}

	#root .thanks-text-phone{
		font-size: 1.5em !important;
	}

	#root .double-input{
		width: 100%;
		margin-bottom: 20px;
	}
}

#root .isa_error {
  padding:12px;
  margin-top: 10px;
  width: 60%;
  max-width: 600px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 5px;
}

#root .isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

#root .isa_error .icon {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

#root .thanks-body{
	position: absolute;
	background-color: #000;
	height: 50vh;
	width: 100vw;
	display: inline-block;
	top:50%;
	left: 0%;
	transform: translateY(-50%);
}

#root .thanks-text{
	font-size: 3em;
	color: #fff;
	padding: 8vh;

}

#root .search-result{
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}

#root .checkbox {
	width: 50px;
	height: 30px;
	text-decoration: none;
}

#root .contents{
	padding-left: 24px;
	font-weight: 800;
}

#root .packageName{
	font-weight: 600;
	font-size: 16px;
}

#root .package-counter{
	width: 60px;
	height: 50px;
	padding-top: 0px !important; 
	padding-bottom: 0px !important;
	margin-bottom: 5px;
	border-radius: 5px;
}

#root .package-counter:focus{
	outline-color: transparent !important;
}

#root .package-counter::-webkit-inner-spin-button, 
#root .package-counter::-webkit-outer-spin-button {  
	height: 50px;
	opacity: 1;

}

#root #g-recaptcha{
	display: inline-block !important; 
}