#root .container{
	position: relative;
	min-height: 100vh;
	text-align: center;
}

#root .btn-container{
	display: inline-block;
	height: 150px;
	width: 90%;
	max-width: 600px;
	font-size: 1.5em;
	font-weight: 800;
	margin-top: 100px;
}

#root .stats-container{
	width: 70%;
	height: 350px;
	text-align: center;
	display: inline-block;
}

#root .Active{
	display: block;
}

#root .InActive{
	display: none;
}

#root .donor, #root .claimant, #root .search{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	border-top: 10px solid black;
	border-bottom: 10px solid black;	
	transition: 0.3s;
	text-decoration: none;
	color: #333;
}

#root .donor, .claimant{
	border-right: 10px solid black;
}

#root .donor{
	border-left: 10px solid black;
	border-radius: 50% 0 0 50%;	
}

#root .search{
	border-right: 10px solid black;
	border-radius: 0 50% 50% 0	
}

#root .donor:hover, #root .claimant:hover, #root .search:hover{
	background-color: black;
	color: #3536ff;
}

#root .card-container{
	width: 33%;
	height: 100%;
	position: relative;
}

#root .card{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	min-width: 300px;
	height: 300px;
	background-color: black;
	color: white;
	font-size: 2em;
	border-radius: 10px;
	-webkit-box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);
	box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);
}

#root .stat{
	font-size: 70px;
	margin-bottom: 20px;
	color: #3536ff;
}

#root .card:hover{
	background-color: #212121;
}

/*Phones*/
@media screen and (max-width: 700px){
	#root .w-31{
		width: 100%;
	}

	#root .w-66{
		width: 100%;
	}

	#root .btn-container{
		width: 90%;
		font-size: 1em;
		text-align: center;
		height: 100px;
		margin-top: 20px;
		/*transform: translate(-50%, -130%);*/
	}

	#root .donor, #root .claimant, #root .search{
		width: 31%;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		border-right: 5px solid black;
	}

	#root .donor{
		border-left: 5px solid black;
	}

	#root .card{
		font-size: 17px;
		height: 150px;
		min-width: 140px;
		width: 120px;
		max-width: 100%;
	}

	#root .stat{
		font-size: 30px;
	}

	#root .res-2{
		width: 50%;
		height: 50%;
	}

	#root .stats-container{
		width: 90%;
		height: 370px;
	}

	#root .res-nl{
		width: 100%;
		height: 50%;
	}

}

/*Tablets*/
@media screen and (min-width: 700px) and (max-width: 1024px) {
	#root .res-2{
		width: 50%;
		height: 50%;
	}

	#root .res-nl{
		width: 100%;
		height: 50%;
	}

	#root .stats-container{
		height: 660px;
		min-width: 700px;
	}

	#root .btn-container{
		margin-top: 20px;
	}

}
