.double-input{
	width: 48%;
	text-align: left;
}

.single-input{
	width: 100%;
	display: inline-block;
	text-align: left;
}

.line{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.img-container{
	width: 100%;
	height: 57px;
	background-color: #000;	
	border: 3px solid #ccc;
	border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.img-input{
    display: none;
}

.form-btn{
	margin-top: 20px;
	width: 400px;
	height: 61px;
	background-color: #000;
	border: 3px solid #ccc;
	border-radius: 5px;
	color: #fff;
	transition: 0.5s;
	font-family: "Monteserrat";
	font-size: 20px;
	font-weight: 800;
}

.form-btn:hover{
  	background-color: #fff;
  	border-color: #3536ff;
  	color: #3536ff;
  	cursor: pointer;
}

/*.form-btn:focus{
	background-color: #fff;
	border-color: #3536ff;
	color: #3536ff;
	outline: none;
}*/

@media screen and (max-width: 700px) {
	.form-btn{
		max-width: 250px;
		font-size: 20px;
	}

	.img-container{
		font-size: 12px;
	}
}

.isa_error {
  padding:12px;
  margin-top: 10px;
  width: 60%;
  max-width: 600px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_error .icon {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.thanks-body{
	position: absolute;
	background-color: #000;
	height: 50vh;
	width: 100vw;
	display: inline-block;
	top:50%;
	left: 0%;
	transform: translateY(-50%);
}

.thanks-text{
	font-size: 3em;
	color: #fff;
	margin: 50px 0px 100px 0px;

}

.search-result{
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}

.checkbox {
	width: 50px;
	height: 30px;
	text-decoration: none;
}

.contents{
	padding-left: 24px;
	font-weight: 800;
}

.packageName{
	font-weight: 600;
	font-size: 16px;
}

.package-counter{
	width: 60px;
	height: 50px;
	padding-top: 0px !important; 
	padding-bottom: 0px !important;
	margin-bottom: 5px;
	border-radius: 5px;
}

.package-counter:focus{
	outline-color: transparent !important;
}

.package-counter::-webkit-inner-spin-button, 
.package-counter::-webkit-outer-spin-button {  
	height: 50px;
	opacity: 1;

}