body{
  font-family: 'Monteserrat';
  color: #333;
}

#root .App {
  text-align: center;
}

#root .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  #root .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root ::-moz-selection { /* Code for Firefox */
  color: white;
  background: #333;
}

#root ::selection {
  color: white;
  background: #333;
}

#root input, select, textarea{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 27px !important;
  padding-right: 27px !important;
  width: calc(100% - 54px);
  font-size: 16px;
}

#root input:focus, select:focus, textarea:focus{
  /*outline-color: #333;*/
  outline-color: #3536ff;
}

#root select{
  width: 100%;
}

#root textarea{
  font-family: Arial;
}

#root .left{
  float: left;
}

#root .right{
  float: right;
}

#root .form{
  width: 80%;
  /*max-width: 1100px;*/
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 30px 20px 30px 20px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);
  box-shadow: -8px 9px 37px -8px rgba(0,0,0,0.75);

}

#root .spacer-20{
  margin-bottom: 20px;
}

#root .spacer-60{
  margin-bottom: 60px;
}

#root .label{
  display: inline-block;
  margin-bottom: 5px;
}

#root .w-31{
  width: 31%;
}

#root .w-66{
  width: 66%;
}

#root .hide{
  display: none;
}

#root .relative{
  position: relative;
}

#root .full-page{
  width: 100vw;
  height: 100vh;

}

#root .phone-spacer{
  margin-bottom: 15px;
}

#root h2{
  background-color: #000;
  width: 70%;
  max-width: 700px;
  display: inline-block;
  padding: 20px;
  border-radius: 70px;
  text-transform: uppercase;
  font-size: 38px;
  color: white;
  letter-spacing: 1.4px;
}

@media screen and (max-width: 700px){
  #root h2{
    font-size: 18px;
  }
}

@media screen and (min-width: 700px){
  #root .phone-spacer{
    margin-bottom: 0px;
  }

  #root .phone-only{
    display: none;
  }
}





